#menu {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FDCF61;
    left: 100%;
    display: flex;
    transition: left 0.2s linear;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.link {
    display: flex;
    align-items: center;
    padding-top: 2rem;

}

#p {
   padding-right: 0.5rem;
   font-size: 1.2rem;
}


.open {
    left: 0 !important;
}

#mark {
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}