#button {
    /* background-color: #1A1A1F; */
    width:8.125rem;
    height:3.5rem;
    border: none;
    border-radius: 8px;
    /* margin-left: 4.4rem; */
}

#span {
    color:white;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}