#story {
    position: relative;
    display: flex;
    justify-content: center;
}


#container {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

#rectangle {
    position: absolute;
    z-index:20;
    left: 5rem;
    bottom:-8rem;
}

#bg {
    position: relative;
    z-index: 10;
    top: 5rem;
}

#storyGirl {
    position: absolute;
    z-index: 20;
    left: 0;
    padding-left:4rem;

}

#content {
    position: absolute;
    top: 18rem;
    left: 29rem;
    width: 35.6rem;
    z-index: 20;
}

#title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
}

#para {
    color: #999999;
    font-weight: 40;
    font-size: 1.1rem;
    padding-top: 1.375rem;
    padding-bottom: 2rem;
    line-height: 1.8rem;
}

#shape {
    position: absolute;
    top: 0;
    left: 52vw;
    top: 3rem;
}

#triangle {
    position: absolute;
    z-index:20;
    right: -2rem;
    top:12rem;
}

#arrow {
    position: absolute;
    z-index:20;
    left: 11.875rem;
    bottom:0rem;
}

@media (max-width:1200px) {
    #bg {
        transform: scaleX(0.7);
    }
    #storyGirl {
        padding-left: 12rem;
        transform: scale(0.8);
    }
    #content {
        left:34rem;
        max-width: 24rem;
        top: 17rem;
    }
    #triangle {
        right: 9rem;
    }
    #rectangle {
        position: absolute;
        z-index:20;
        left: 11rem;
        bottom:-8rem;
    }
}

@media (max-width:850px) {
    #bg {
        transform: scaleX(0.6);
    }
    #storyGirl {
        padding-left: 14rem;
        transform: scale(0.8);
    }
    #content {
        left:34rem;
        max-width: 18rem;
        top: 17rem;
    }
    #triangle {
        right: 12rem;
    }
    #title {
        font-size: 2.8rem;
    }
    #para {
        font-size: 0.9rem;
    }
    #rectangle {
       display: none;
    }
    #arrow {
        left: 25rem;
        bottom: 3rem;
    }
}

@media (max-width:750px) {
    #smallStory {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 0rem;
        align-items: center;
        min-height: 75rem;
    }
    #smallStoryGirl {
        position: absolute;
        z-index: 30;
        top: 7rem;
    }
    #smallContent {
        margin-top: 38.5rem;
        width: 22rem;
        position: relative;
        background-color: #1E1E1E;
        border-radius: 1.25rem;
        
    }
    #smallShape {
        position: absolute;
        top: 0;
        display: none;
    }
    #para {
        max-width: 80%;
    }
    #triangle {
        top: 25.5rem;
        right: -1rem;
        z-index: 30;
    }
    #smallWrapper {
        padding-top: 3.5rem;
        padding-left: 1.3rem;
        padding-bottom: 3.25rem;
    }
    #title {
        font-size: 2.8rem;
       
    }
    #para {
        font-size: 0.9rem;
    }
    #arrow {
        left: 2rem;
        bottom: -8rem;
    }
}

@media (max-width:450px) {
    #smallContent {
        width: 18rem;
    }
    #smallStoryGirl {
        width: 18rem !important;
    }
    #smallContent {

        margin-top: 32rem;
    }
    #triangle {
        top:27rem
    }
    #smallStory {
        min-height: 70rem;
    }
    #arrow {
        bottom: -6rem;
    }
}

@media (max-width:340px) {
    #smallContent {
        width: 14rem;
    }
    #smallStoryGirl {
        width: 14rem !important;
    }
    #smallContent {

        margin-top: 26rem;
    }
    #triangle {
        top:37rem
    }
    #smallStory {
        min-height: 70rem;
    }
    #arrow {
        bottom: -5rem;
    }
}
