#wrapper {
    position: relative;
    
}
#header {
    background-image: url('/public/bg.svg');
    background-repeat: no-repeat;
    background-size: 78rem;
    background-position: left center;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    display: flex;
    margin-top: 2rem;
}

#headersContainer {
    position: relative;
}

#roundedArrow {
    position: absolute;
    left: 25rem;
    top: 7rem;
}

#h1 {
    font-weight: 700;
    font-size: 4rem;
    padding-top: 11.7rem;
    line-height: 4.5rem;
}
#p {
    padding-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    color:#636363;
    max-width: 38rem;
}

#buttonsWrapper {
    padding-top: 3rem;
    padding-bottom: 11.7rem;
    display: flex;
}

#sixK {
    position: absolute;
    width: 7.6rem;
    height: 7.6rem;
    border-radius: 1.2rem;
    background-color: black;
    right: 25rem;
    top: 7rem;
    text-align: center;
    z-index: 20;
}

#sixK_title {
    color: white;
    font-weight: 700;
    font-size: 3.1rem;
    padding-top: 1.5rem;
    line-height: 3.1rem;
}

#sixK_subTitle {
    font-weight: 400;
    font-size: 1rem;
    color: #979595;
    padding-top: 0.5rem;
}

#girl {
    position: absolute;
    right: 3rem;
    top: 9rem;
    z-index: 10;
}

#imagesContainer {
    position: relative;
    width: 50%;
}

#bring {
    width: 17.2rem;
    height: 4.7rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 0.5rem;
    position: absolute;
    right: 15.4rem;
    bottom: 8.7rem;
    z-index: 20;
}

#bringImage {
    padding-left: 0.6rem;
}

#bringTitle {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    padding-left: 0.6rem;
}

#market {
    position: absolute;
    width: 11.3rem;
    height: 7.6rem;
    border-radius: 1.2rem;
    background-color: white;
    right: -0.5rem;
    bottom:12rem;
    text-align: center;
    z-index: 20;
}

#market_title {
    color: black;
    font-weight: 700;
    font-size: 3.1rem;
    padding-top: 1.5rem;
    line-height: 3.1rem;
}

#market_subTitle {
    font-weight: 400;
    font-size: 1rem;
    color: #979595;
    padding-top: 0.5rem;
}

#blackBg {
    position: absolute;
    top: 0;
    right: 0;
    width:35rem;
    background-color: #1A1A1F;
    height: 100%;
}

#shape {
    position: absolute;
    right: 13rem;
}

#square {
    position: absolute;
    z-index: 20;
    left: 10.3rem;
    top: 21.4rem;
}

#triangle {
    position: absolute;
    left: 6rem;
    top: 5rem;
    z-index: 20;
}

#vector {
    position: absolute;

}

#demoWrapper {
    display: flex;
    align-items: center;
    padding-left: 2.1rem;
}

#circle {
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    background-color: #1A1A1F;
    position: relative;
}

#play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%,-50%);
}

#playTitle {
    color: #1A1A1F;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0.7rem;
    white-space: nowrap;
}

@media (max-width:1400px) {
    #h1 {
        font-size: 3.2rem;
    }
    #p {
        max-width: 27rem;
    }
    #header {
        padding-right: 0;
    }
    #imagesContainer {
        width: 55%;
    }
    #roundedArrow {
        left: 20rem;
        top: 7.5rem;
    }
}

@media (max-width:1200px) {
    #header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #roundedArrow {
        left: 15rem;
    }
}

@media (max-width:1050px) {
    #roundedArrow {
        scale: 0.7;
        top: 2rem;
        left: 17rem;
    }
    #headersContainer {
        max-width: 25rem;
    }
    #h1 {
        padding-top: 3rem;
        line-height: 3.7rem;
    }
    #blackBg {
        width: 35%;
    }
    #girl {
        top: 2rem;
        left:10%;
        scale:0.7
    }
    #shape {
        z-index: 20;
        left: 20.5rem;
        scale:0.7;
        right:18rem;
    }
    #wrapper {
        height: 30rem;
    }
    #header {
        background-size: 55rem;
        background-position:left -2rem ;
    }
    #market {
        top: 16rem;
        left: 20rem;
        scale:0.7
    }
    #bring {
        left: 3rem;
        top: 20.5rem;
        scale:0.7
    }
    #sixK {
        top: 5rem;
        left: 6rem;
        scale:0.7
    }
}

@media (max-width:950px) {
    #imagesContainer {
        margin-right: 10rem;
    }
    #p {
        max-width: 31rem;
    }

}

@media (max-width:850px) {
    #imagesContainer {
        margin-right: 16rem;
    }
    #girl {
        top: 2rem;
        left:10%;
        scale:0.5
    }
    #shape {
        left: 15rem;
    }
    #market {
        top: 15rem;
        left: 15rem;
        scale:0.5
    }
    #bring {
        left: 3rem;
        top:18.5rem;
        scale:0.5
    }
    #sixK {
        top: 6rem;
        left: 6rem;
        scale:0.5
    }
    #p {
        max-width: 90%;
    }
}

@media (max-width:750px) {
    #roundedArrow {
        display: none;
    }
    #headersContainer {
        background-image: url('/public/bg.svg');
        background-repeat: no-repeat;
        background-size: 47rem; 
        background-position: 0rem -2rem;
        max-width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
    }
    #roundedArrow {
        left: 33rem;
    }
    #buttonsWrapper {
        padding-bottom: 0;
    }
    #bottomLower {
        background-color: #1A1A1F;
        width: 100%;
        height: auto;
        position: relative;
        height: 30rem;
    }
    #bring {
        position: absolute;
        scale: 1;
        top:23.5rem;
        left:13%;
    }
    #market {
        scale: 1;
        position: absolute;
        left: 65%;
        top: 17.5rem;
    }
    #sixK {
        scale: 0.8;
        position: absolute;
        left: 8%;
        top: 5rem;
    }
    #girl {
        left: 50%;
        transform: translateX(-50%);
        scale: 1;
        position: absolute;
    }
    #shape {
        scale: 0.8;
        left: 30rem;
        top: 0;
        position: absolute;
    }
}

@media (max-width:560px) {
    #bottomLower {
       background-color: #1A1A1F;
        height: 20rem;
        transform:scale(0.6);
        position: absolute;
        top: -3rem;
    }
    #bottomWrapper {
        position: relative;
        background-color: #1A1A1F;
        height: 20rem;
    }
}

@media (max-width:500px) {
    #playTitle {
        display: none;
    }
}

@media (max-width:420px) {
    #bottomLower {
       background-color: #1A1A1F;
        height: 20rem;
        transform:scale(0.5);
        position: absolute;
        top: -3rem;
    }
    #bottomWrapper {
        position: relative;
        background-color: #1A1A1F;
        height: 20rem;
    }
    #sixK {
        left:-4rem;
    }
    #market {
        left:18rem;
        transform:scale(0.7)
    }
    #bring {
        left: -3rem;
    }
}

@media (max-width:360px) {
    #sixK {
        left:-6rem;
    }
    #market {
        left:16rem;
    }
    #bring {
        left: -6rem;
    }
}
