


#navbar {
    width: 100%;
    height: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#global {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-top: 1.2rem;
}

#container {
    display: flex;
}

.link {
    display: flex;
    padding-right: 1.5rem;
    align-items: center;
}

.link p {
    padding-right: 0.2rem;
}

#menu {
    display: none;
}

@media (max-width:1200px) {
    #global {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width:850px) {
    #menu {
        display: flex;
        align-items: center;
    }
    .link {
        display: none;
        padding-right: 0;
    }
}

@media (max-width:500px) {
   
}